h1 City: #{city.Name}
br
p Name: #{city.Name}
p Country code: #{city.CountryCode}
p District:  #{city.District}
p Info: #{city.Info}
br
a(href=`/countries/${country.Code}.html?code=${country.Code}`) [#{country.Name} : #{country.Capital}]
