h1 Country: #{country.Name}
br
p Code: #{country.Code}
p Code-2: #{country.Code2}
p Capital: #{country.Capital}
br
p Cities count - #{citiesCount}
br
ul
  each city in cities
    li
    a(href=`/cities/${city.ID}.html?ID=${city.ID}`) [#{city.Name}]
